<br/> <br/><br/><br/>
<section class="content">
<div id="main_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class=" box col-md-9 col-lg-10">
                <div class="row">
                    <div class="col-md-4">
                 </div>
               
                </div>
                <hr/>
                <div class="mail_details_top clearfix">
                    <div class="mail_date">
                    </div>
                    <div class="mail_user_image">
                        <img src="images/anonyme.jpg" with="38" height="38" class="user-image" alt="User Image">
                    </div>
                    <div class="mail_user_info">
                        <h2>{{message.writer.firstName}} {{message.writer.lastName}}</h2>
                        <span class="text-muted">{{message.writer.email}}</span>
                    </div>
                </div>
                <div class="mail_details_content">
                    {{message.text}}
                </div>

            </div>

        </div>
    </div>
</div> 
</section>
