<section class="content-header">
    <h1>
                    {{'Menu'}}          
        </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6" style="text-align: right;">

                            <a class="btn btn-app" ng-click="import()">
                                <i class="fa fa-cloud-upload"></i> {{waitmsg}}
                            </a>
                            <a class="btn btn-app" ng-click="contacter()">
                                <i class="fa fa-envelope-o"></i> {{'Envoyer un Msg'}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->