<div class="modal-body">
    <br/><br/>
    <div class="img-success" style="text-align:center;">
        <img src="/images/success.png" alt="Success" style="width:20%;border-radius: 999px;"/>
    </div>
    <br/><br/>
    <div class="success-text" style="text-align: center;">
        <h3>vous avez importez les contacs avec succés !</h3>
       
    </div>
    <br/><br/>
    <!--<div class="go-home" style="text-align: center;">
        <a class="btn btn-success" style="cursor:pointer;" ng-click="goHome()">Ok</a>
    </div>-->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()"><i class="fa fa-undo"></i> {{'cancel'}}</button>
</div>